# 01. Introduction to pandas

In this part we are going to explain some basic concepts in pandas and how to work with Pandas on simple datasets

## 1. Import the Pandas library in a virtual environment

To use this pandas notebook it is good pratice to build a virtual environment first and then activate it.

To do this go to the directory in the terminal where you cloned this repository and type: `python3 -m venv venv`.

This should create an environment that you can activate by typing: `source ./venv/bin/activate`.
Now the prompt in your terminal should start with `(venv)` and you can start installing libraries without messing with the rest of you systems.

For a detailed tutorial on how to use virtual environments the site https://realpython.com/python-virtual-environments-a-primer/ is a good bit somewhat outdated start. Planning on creating my own one soon..

NB: If you are using source control you must also create a file called `.gitignore` in the root directory of this project and type `venv/` and save it. Otherwise the environment is stored in your repository.

Now we are ready to import the panda library using `!pip install pandas` in the notebook to install the Pandas module and import it in our notebook.

We use `as pd` as a convention to alias the library.

In [ ]:
# installing pandas
!pip install pandas

In [ ]:
# importing pandas in the project. As a convention we import the library with the 
import pandas as pd

## 1. Introduction to a dataframes.

The 3 components of pandas are the "Index", "Series" and "DataFrame".

A Series is one column, and a DataFrame is a one or more columns combined, together with a unique index.
Series is something we will touch on later in this course. Lets first explore the main component, namely the dataframe.

Let's see how this works:

In [ ]:
# List of first names
firstnames = ['John', 'Peter', 'Francis', 'Bob', 'Mary']
# turn it into a dataframe
df = pd.DataFrame(firstnames)
# and inspect what we have
df

As we can see we now have something that resembles a spreadsheet. Although there are some notable differences:
* The rows start with a '0' instead of '1'.
* The column also has a '0' as a header and not 'firstnames' or an 'A' as you may be familiar with in a spreadsheet.
Let's add another column..

In [ ]:
# list of last names
lastnames = ['Doe','Parker','Bacon','Smith','Poppins']
# make a list of both the lists that we have
names = [firstnames,lastnames]
# turn it into a dataframe again
df = pd.DataFrame(names)
# and inspect what we have
df

Clearly not the intended result! We wanted a the firstnames and the lastnames in columns not rows. To accomplish this we need to put the the lists in a different order. We need to specify the rows that we want.

In [ ]:
# list of names
names = [['John','Doe'],['Peter','Parker'],['Frances','Bacon'],['Bob','Smith'],['Mary','Poppins']]
# turn it into a dataframe again
df = pd.DataFrame(names)
# and inspect what we have
df

This looks better but very tedious as we want the data to be added as lists of first names and last names. To accomplish the we need to put the data in a Python dictionary.

In [ ]:
names = {"A":firstnames,"B":lastnames}
# turn it into a dataframe again
df = pd.DataFrame(names)
# and inspect what we have
df

Voila! a spreadsheet, albeit with the rows starting at 0.. But as you may have noticed, we can now change the column names to something more usefull.

In [ ]:
names = {"First names":firstnames,"Last names":lastnames}
# turn it into a dataframe again
df = pd.DataFrame(names)
# and inspect what we have
df

We are still left with the rows starting a "0"

In [ ]:
# index = [1,2,3,4,5]
# or better
index = list(range(1,len(firstnames)+1))
# turn it into a dataframe again but now with index
df = pd.DataFrame(names, index=index)
# and inspect what we have
df

That looks what we are after!

Or not.. Unless you are sure you should keep the index as is. We will see some situations were adding a custom index is a smart idea late in this course.

In [ ]:
df["First names"]

## 2. Importing data from a file

Typing in a complete dataset is seldom a good idea. More often you ar provided a dataset that you will be working on. That is what this part is about. We will explore the import of datasets in very basic form like Excel and .csv format and look how this works. Later parts will touch on several other formats as well as connecting to databases, that you might encounter in a more real world scenario.

Lets first import a simple csv-file. CSV stands for "comma seperated file" and is a widely used format to export data from one application to another.

I compiled a csv-file of the best tennis players of all time in another course about webscraping. Lets use this dataset for our purpose. you can find the source at this link: https://howtheyplay.com/individual-sports/Top-10-Greatest-Male-Tennis-Players-of-All-Time. I have taken a sports dataset specifically because it is a well known subject and the datasets around it are very detailed and rich. Very handy later on this course to explain all concepts of Pandas, data engineering and data science. Tennis is not my favorite sport, but after looking at several other sport datasets, I found this one to be very usefull to show the different scenario's that anyone may encounter in data.\
NB: please do not bug me with questions that Boris Becker or some other person is not included. We will come to that later in the course if we touch on unstructured data.

First we will import a simple dataset in CSV.

I compiled the the webpage in a csv file that looks like this:

`id,name,dob,pob,cob,por,cor,pro,retired,price,wins,aus,fra,usa,eng,olympic,thof`\
`11,Ken Rosewall,1934-11-02,Sydney,Australia,Sydney,Australia,1957,1980,1602700,133,4,10,4,5,0,1980`\
`10,Andre Agassi,1970-04-29,Las Vegas,United States,Las Vegas,United States,1986,2006,315275,61,4,1,2,1,1,2011`\
`9,John McEnroe,1959-02-16,Wiesbaden,West Germany,New York City,United States,1978,1992,12547797,105,0,0,4,3,0,1999`\
`8,Jimmy Connors,1952-09-02,East St-Louis,United States,Santa Barbara,United States,1972,1996,8641040,147,1,0,2,5,0,1998`\
`7,Ivan Lendl,1960-03-07,Ostrava,Czechoslovakia,Goshen,United States,1978,1994,21262417,144,2,3,3,0,0,2001`\
`6,Bjorn Borg,1956-06-06,Sodertalje,Sweden,Stockholm,Sweden,1973,1983,3655751,101,0,6,0,5,0,1987`\
`5,Pete Sampras,1971-07-12,Potomac,United States,Lake Sherwood,United States,1988,2002,43280489,64,2,0,5,7,0,2007`\
`4,Rod Laver,1938-07-08,Rockhampton,Australia,Carlsbad,United States,1962,1979,1565413,200,3,3,5,9,0,1981`\
`3,Roger Federer,1981-07-08,Basel,Switzerland,Bottmingen,Switzerland,1998,,130594339,103,6,1,5,8,0,`\
`2,Rafael Nadal,1986-06-03,Manacor,Spain,Manacor,Spain,2001,,134529921,92,14,2,4,2,1,2022`\
`1,Novak Djokovic,1987-05-22,Belgrade,Serbia,Monte Carlo,Monaco,2003,,164786653,93,10,2,3,7,0,`

in columnar format this looks like:
| id | name           | dob        | pob           | cob            | por           | cor           | pro  | retired | price     | wins | aus | fra | usa | eng | olympic | thof |
|----|----------------|------------|---------------|----------------|---------------|---------------|------|---------|-----------|------|-----|-----|-----|-----|---------|------|
| 11 | Ken Rosewall   | 1934-11-02 | Sydney        | Australia      | Sydney        | Australia     | 1957 | 1980    | 1602700   | 133  | 4   | 10  | 4   | 5   | 0       | 1980 |
| 10 | Andre Agassi   | 1970-04-29 | Las Vegas     | United States  | Las Vegas     | United States | 1986 | 2006    | 315275    | 61   | 4   | 1   | 2   | 1   | 1       | 2011 |
| 9  | John McEnroe   | 1959-02-16 | Wiesbaden     | West Germany   | New York City | United States | 1978 | 1992    | 12547797  | 105  | 0   | 0   | 4   | 3   | 0       | 1999 |
| 8  | Jimmy Connors  | 1952-09-02 | East St-Louis | United States  | Santa Barbara | United States | 1972 | 1996    | 8641040   | 147  | 1   | 0   | 2   | 5   | 0       | 1998 |
| 7  | Ivan Lendl     | 1960-03-07 | Ostrava       | Czechoslovakia | Goshen        | United States | 1978 | 1994    | 21262417  | 144  | 2   | 3   | 3   | 0   | 0       | 2001 |
| 6  | Bjorn Borg     | 1956-06-06 | Sodertalje    | Sweden         | Stockholm     | Sweden        | 1973 | 1983    | 3655751   | 101  | 0   | 6   | 0   | 5   | 0       | 1987 |
| 5  | Pete Sampras   | 1971-07-12 | Potomac       | United States  | Lake Sherwood | United States | 1988 | 2002    | 43280489  | 64   | 2   | 0   | 5   | 7   | 0       | 2007 |
| 4  | Rod Laver      | 1938-07-08 | Rockhampton   | Australia      | Carlsbad      | United States | 1962 | 1979    | 1565413   | 200  | 3   | 3   | 5   | 9   | 0       | 1981 |
| 3  | Roger Federer  | 1981-07-08 | Basel         | Switzerland    | Bottmingen    | Switzerland   | 1998 |         | 130594339 | 103  | 6   | 1   | 5   | 8   | 0       |      |
| 2  | Rafael Nadal   | 1986-06-03 | Manacor       | Spain          | Manacor       | Spain         | 2001 |         | 134529921 | 92   | 14  | 2   | 4   | 2   | 1       |      |
| 1  | Novak Djokovic | 1987-05-22 | Belgrade      | Serbia         | Monte Carlo   | Monaco        | 2003 |         | 164786653 | 93   | 10  | 2   | 3   | 7   | 0       |      |

To create a dataframe out of this in Pandas is very easy. Pass the path to the file to the `read_csv` method like so

In [ ]:
#Read csv file and inspect
df = pd.read_csv("../tennis-data/10tennisplayer.csv")
df

As we look at this result we can make a few observations:
* As seen previously, the index is set by Pandas. We might wanna change that to the 'Place' column.
* The 'Place' column is descending.
* The turned-pro column looks good, but the 'retired' and hall-of-fame column are integers but floating points.
* Also these columns have NaN (which stands for "Not a Number") values for some of the values.

Lets tackle the first two issues first.

In [ ]:
# set the column that we want to use as index
df = pd.read_csv("../tennis-data/10tennisplayer.csv",index_col="Place")
# sort them in ascending order
df.sort_index(inplace=True)
# display
df

Voila, We have our dataframe. We can do the same with an excel sheet.
For this pandas is dependend on openpyxl so we will have to import that first:

In [ ]:
!pip install openpyxl

Now we are ready to create a dataframe from an excel sheet. Be ware that the sheet needs to be a continuous set of rows and columns. Otherwise you will run into errors. You can pass a sheet name to identify the worksheet that contains the data.

In a later tutorial we will go into detail about working with excel sheets and see how we can work with formulas, tables, named ranges and the like.

In [ ]:
df_excel = pd.read_excel("../tennis-data/top10tennisplayers.xlsx", index_col="Place", sheet_name="Sheet1")
df_excel

As you can see, it works just as a regular csv file.

# 3. Inspecting a data frame

We now have a data frame created, albeit a very small one. By typing `df` in Jupyter we can inspect it's content, as if we were doing a print statement. A dataframe is a very usefull format to work with columnar data as we will see later in this tutorial.

In this section we are going to explain how to inspect this data format and the functions that help see what the data is so we can use that later to enrich and transform it in usefull information.

Printing `df` is fine for a small dataset, but when we have thousands of rows, this is not what we desire. If we just want to inspect the first rows another function is more used and recommended.

The first ones are `head` and `tail` to view either the first or last row.

In [ ]:
df.head(2)

In [ ]:
df.tail(3)

In [ ]:
df.take([0,1,2])

In [ ]:
df.size

In [ ]:
df.shape

In [ ]:
df.count()

In [ ]:
df.values

In [ ]:
df.dtypes

In [ ]:
df.columns

In [ ]:
df.at[1,"Name"]

In [ ]:
df.loc[1]

In [ ]:
df.iloc[1]

In [ ]:
df.keys()

In [ ]:
df.get(["Name","Retired"])

In [ ]:
df.Name

In [ ]:
df.describe()

In [ ]:
df.describe(include="all")

In [ ]:
df.isna()

In [ ]:
df.dtypes

In [ ]:
df = df.astype({"Retired":"Int64"})

In [ ]:
df.info()

In [ ]:
df = df.convert_dtypes()

df.info()

In [ ]:
df = df.astype({"Birth date":"datetime64","Price money":"float64"})
df.dtypes